html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.frame {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 100px solid black;
  z-index: 1000;
}

canvas {
  display: block;
  position: absolute;
}
